<footer>
</footer>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/mixitup.js"></script>
<script src="/js/data.json"></script>
<script type="text/javascript" src="/js/main.js"></script>


<!-- feathericons -->
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

</body>
</html>
